.project-management-container {
  padding: 20px;
  background-color: #FBFAEF; /* white linen */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.project-management-form {
  max-width: 600px;
  margin: 0 auto;
}

.project-management-form .ant-form-item {
  margin-bottom: 16px;
}

.project-management-buttons {
  display: flex;
  justify-content: space-between;
}

.ant-form-item-label > label {
  color: #A7B096; /* fresh sage */
}

.ant-input,
.ant-select-selector,
.ant-picker {
  background-color: #F7DED6; /* sweet macadamia */
  border-color: #D79E91; /* pampas */
}

.ant-input:disabled,
.ant-select-selector:disabled,
.ant-picker:disabled {
  background-color: #DBDCCD; /* light grey */
}

.ant-btn-primary {
  background-color: #B3986A; /* cinamon */
  border-color: #B3986A; /* cinamon */
}

.ant-btn-primary:hover {
  background-color: #A7B096; /* fresh sage */
  border-color: #A7B096; /* fresh sage */
}

.ant-btn-default {
  background-color: #A7B096; /* fresh sage */
  border-color: #A7B096; /* fresh sage */
  color: #FBFAEF; /* white linen */
}

.ant-btn-default:hover {
  background-color: #B3986A; /* cinamon */
  border-color: #B3986A; /* cinamon */
  color: #FBFAEF; /* white linen */
}

.buttonEdit {
  color: #A7B096; /* fresh sage */
}

.buttonEdit:hover {
  color: #B3986A; /* cinamon */
}

.buttonDelete {
  color: #D79E91; /* pampas */
}

.buttonDelete:hover {
  color: #B3986A; /* cinamon */
}

.project-management-table .ant-table-thead > tr > th {
  background-color: #A7B096; /* fresh sage */
  color: #FBFAEF; /* white linen */
}

.project-management-table .ant-table-tbody > tr > td {
  background-color: #ffede7; /* sweet macadamia */
  color: #333; /* dark text color for contrast */
}

.project-management-table .ant-table-tbody > tr:hover > td {
  background-color: #DBDCCD; /* light grey */
}